<h1>Perro</h1>
{{nombreDuenoLocal}}

<button (click)="cambiarNombreAMashi()">
  CambiarNombre
</button>


<!-- h1 -->
<!--<h1></h1>-->
<!--&lt;!&ndash; h1.rojo &ndash;&gt;-->
<!--<h1 class="rojo"></h1>-->
<!--&lt;!&ndash; h1.rojo.azul &ndash;&gt;-->
<!--<h1 class="rojo azul"></h1>-->
<!--&lt;!&ndash;EMMET&ndash;&gt;-->
<!--&lt;!&ndash; h1+h2 &ndash;&gt;-->
<!--<h1></h1>-->
<!--<h2></h2>-->
<!--&lt;!&ndash; ul>li*5 &ndash;&gt;-->
<!--<ul>-->
  <!--<li></li>-->
  <!--<li></li>-->
  <!--<li></li>-->
  <!--<li></li>-->
  <!--<li></li>-->
<!--</ul>-->
<!--&lt;!&ndash; .row>.col-sm-3*4 &ndash;&gt;-->
<!--<div class="row">-->
  <!--<div class="col-sm-3"></div>-->
  <!--<div class="col-sm-3"></div>-->
  <!--<div class="col-sm-3"></div>-->
  <!--<div class="col-sm-3"></div>-->
<!--</div>-->





<!--<img src="" alt="">-->
